<!DOCTYPE html>
<html>
	<head>

	{% load staticfiles %}
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:100,400" rel="stylesheet"> 
		<title>Title</title>

	</head>
	<body>

	<div class="wrapper">
		<div class="container top-container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1 class="title">Мы скоро откроемся!</h1>
					<form action="" method="post" class="form form-inline text-center">{% csrf_token %}
					<div class="form-group">
					<label class="title">Ваше имя</label><input type="text" name="{{ form.name.name }}" class="form-control">
					</div>
					<div class="form-group">
					<label class="title">Ваш email</label><input type="email" name="{{ form.email.name }}" class="form-control">
					</div>

					<button type="sumbit" class="btn btn-success">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>